.main-page__content {
  padding: 42px calc(50% - 500px);
  display: flex;
  justify-content: space-between;
  min-height: 89.9vh;
  max-height: max-content;
  object-fit: cover;
  background-image: url(http://bgfons.com/uploads/lines/lines_texture1095.jpg);
  box-sizing: border-box;
}

.main-page__main-section {
  padding-left: 40px;
  box-sizing: border-box;
  width: 60%;
}

.main-page__search-box {
  margin-bottom: 35px;
}

.main-page__favorites {
  width: 35%;
}

/* mobile css */
@media only screen and (max-width: 720px) {
  .main-page__content {
    padding: 6vw calc(50% - 40vw);
    flex-direction: column;
  }

  .search-box__form {
    display: flex;
    width: 100%;
  }
  .search-box__form_label {
    font-size: 2vw;
  }

  .main-page__main-section {
    box-sizing: border-box;
    width: 100%;
    padding-left: 0;
  }

  .main-page__favorites {
    width: 100%;
  }
  .main-page__favorites {
    margin-bottom: 100vw;
  }
}
